/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */

/* HEADER */

header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
    overflow: hidden;
}

nav {
    width: 80%;
    margin: 1em auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1.7em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 6em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 0.6em;
    font-size: 3.5em;
}

.jumbo-desc {
    font-size: 1.2em;  
    line-height: 1.6em;
    margin-bottom: 1.1em;
    padding: 0 0.9em;
}

a.btn.big{
    padding: 7px 23px;
    margin: 0 0.5em;
    font-size: 1.2em;
    font-weight: normal;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/* /HEADER */

/* MAIN */

.content {
    width: 80%;
    margin: 0 auto;
}

section .section-image {
    width: 55%;
    margin: 5em 2em;
    text-align: right;
}

section .section-content {
    width: calc(45% - 4em);
    margin: 5em 0;
    padding: 3em 8em;
}

.section-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.section-content P {
    font-size: 1.3em;
}

/* /MAIN */