/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}
/* /General Section */

/* HEADER */

header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
    overflow: hidden;
}

nav {
    margin-top: 1em;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1.7em;
}

.navbar a,
.list a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

.nav-menu a:hover,
.nav-menu a:active,
.nav-menu a:focus,
.list a:hover,
.list a:active,
.list a:focus {
    text-decoration: underline;
}



.nav-menu li:last-child {
    margin-right: 0;
}


/* jumbo */
.jumbo-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 6em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 0.6em;
    font-size: 3.5em;
}

.jumbo-desc {
    font-size: 1.2em;  
    line-height: 1.6em;
    margin-bottom: 1.1em;
    padding: 0 0.9em;
}

/* /HEADER */

/* BUTTON */

a.btn.big{
    padding: 7px 23px;
    margin: 0 0.5em;
    font-size: 1.2em;
    font-weight: normal;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}


a.btn.blue{
    background-color: #8EA1E1;
    color: white;
}

a.btn.blue:hover,
a.btn.blue:active,
a.btn.blue:focus {
    color: #265ee8;
}

/* /BUTTON */

/* MAIN */

.container {
    width: 100%;
    overflow: hidden;
}

.container.grey {
    background-color: #F6F6F6;
}

section .section-image {
    width: 55%;
    margin: 5em 2em;
    text-align: right;
}

section .section-content {
    width: calc(45% - 4em);
    margin: 5em 0;
    padding: 3em 8em;
}

.section-content h1,
.banner-content h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.section-content p,
.banner-content p {
    font-size: 1.3em;
}

.banner-content {
    margin-top: 2em;
}

section.banner {
    text-align: center;
}

section.banner .banner-image {
    width: 100%;
}

section.banner .download h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
}


section.banner {
    margin-bottom: 8em;
}

/* /MAIN */

/* FOOTER */

.container.black {
    background-color: #23272A;
}

.info {
    margin: 5em auto 2em;
    border-bottom: 1px solid #648AE8;
    padding-bottom: 2em;
}
.social {
    padding: 0 1em;
}
.social h1 {
    color: #648AE8;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.social .language img {
    height: 1em;
    vertical-align: middle;
}

.language {
    color: white;
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 2em;
}

.social_logo {
    color: white;
    font-size: 1.5em;
}

.social_logo i{
    margin: 0 0.5em;
}

.info div.social {
    width: 30%;
}

.info div.list {
    width: calc(70% / 4);
}

.list ul {
    list-style-type: none;
}

.list li {
    line-height: 2em;
}

.list .list_title {
    color: #648AE8;
    font-weight: bold;
}

.list .list_title:hover {
    text-decoration: none;
}

.end {
    margin-bottom: 2em;
}

.float_right {
    float: right;
}

/* /FOOTER */



/* WAVE */

section.wave svg {
    display: block;
    fill: #F6F6F6;
}

section.wave.rotate svg {
    transform: rotate(180deg);
}

/* BUTTON_HOVER */

.btn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}